@import url('https://fonts.googleapis.com/css2?family=montserrat:wght@900&family=Source+Code+Pro&display=swap');

.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font: 300 16px 'Source Code Pro', sans-serif;
  letter-spacing: 5px;
  color: black;
  background: url('./bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App .header {
  font: 900 150px 'Montserrat', sans-serif;
  letter-spacing: 3.95px;
  color: #0024E1;
  margin: 50px;
  margin-top: 0;
}

.App .prompt {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  max-width: 70%;
  min-height: 100px;
  margin: auto;
}
.promptBody {
  letter-spacing: 0;
  margin: -30px auto 50px;
  max-width: 70%;
}

.App input {
  padding: 25px 35px;
  color: black;
  background: rgba(0,0,0,0.1);
  border: solid 0px #0024E1;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 11.43px;
  min-width: 400px;
  text-transform: uppercase;
  margin: 0;
  box-sizing: border-box;
}
.App input:focus {
  outline: none;
}

.App input::placeholder {
  color: black;
}

.winPrompt {
  line-height: 3;
}

@media (max-width: 650px) {
  .App {
    font-size: 12px;
  }
  .App .header {
    font-size: 75px;
    margin: 0 10px 50px;
  }
  .App .prompt {
    font-size: 13px;
  }
  .App input {
    min-width: unset;
    width: 90%;
  }
}
