@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');

.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font: 300 16px 'Advent Pro', sans-serif;
  letter-spacing: 5px;
  color: white;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.App .header {
  position: fixed;
  left: 25px;
  top: 25px;
  pointer-events: none;
}

.App .prompt {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  max-width: 70%;
  margin: auto;
  margin-top: 150px;
  position: relative;
  z-index: 2;
}
.promptBody {
  letter-spacing: 0;
  margin: -30px auto 50px;
  max-width: 70%;
}

.App input {
  padding: 25px 35px;
  color: black;
  background: #FF5151;
  border: solid 0px #0024E1;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 11.43px;
  min-width: 400px;
  text-transform: uppercase;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Advent Pro', sans-serif;
  position: fixed;
  bottom: 100px;
  margin-left: -10%;
}
.App input:focus {
  outline: none;
}

.App input::placeholder {
  color: black;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
}
.square {
  position: absolute;
  border-radius: 10px;
  transition: all 0.2s;
  border: 1px solid black;
}
.square:hover {
  background: #20FF3F;
}

.winPrompt {
  line-height: 3;
}

@media (max-width: 650px) {
  .App {
    font-size: 12px;
  }
  .App .header {
    font-size: 75px;
    margin: 0 10px 50px;
  }
  .App .prompt {
    font-size: 13px;
  }
  .App input {
    min-width: unset;
    width: 100%;
    left: 0;
    margin: 0;
  }
}
